[user]
	name = Edward Laird
	email = elaird@gmail.com
        github = elaird
[color]
	branch = auto
	status = auto
	diff = auto
	grep = auto
[url "git@github.com:"]
        pushInsteadOf = https://github.com/
