xterm*faceName: "Monospace"
xterm*faceSize: 9.0
xterm*internalBorder: 1
xterm*saveLines: 4096
xterm*fullscreen: always
xterm*metaSendsEscape: true

xterm*background: black
xterm*cursorColor: lightgrey
xterm*foreground: lightgrey


urxvt*font: xft:Monospace-9
urxvt*buffered: on
urxvt*intensityStyles: on
urxvt*scrollBar: off
urxvt*internalBorder:1

urxvt*background: black
urxvt*cursorColor: lightgrey
urxvt*foreground: lightgrey
